<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--第六 namespace=实体类映射的接口（要写全路径)    id=实体类映射中的方法名
 resultType=实体类（要写全路径)
    select * from  库名.表明-->
<mapper namespace="com.fan.IUserMapper.UserMapper">
    <select id="getUserMapper" resultType="com.fan.user.User">
    select * from test.one
  </select>
</mapper>