<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--第六 namespace=实体类映射的接口（要写全路径)    id=实体类映射中的方法名
 resultType=实体类（要写全路径)
    select * from  库名.表明-->
<mapper namespace="com.fan.IUserMapper.UserMapper">
    <select id="getUserMapper" resultType="com.fan.user.User" parameterType="com.fan.user.User">
    select * from test.one
  </select>
    <insert id="insertUser" parameterType="com.fan.user.User">
        insert  into test.one(name,age,id,ai) values (#{name},#{age},#{id},#{ai});
    </insert>
    <delete id="getDeleteUser" parameterType="com.fan.user.User">
        delete  from test.one where id=#{idd};
    </delete>
    <update id="getUpdateUser" parameterType="com.fan.user.User">
        update test.one set name=#{name},age=#{age},ai=#{ai} where id=#{id};
    </update>
    <select id="getUserID" parameterType="com.fan.user.User" resultType="com.fan.user.User">
        select * from test.one where id=#{id};
    </select>

</mapper>